<%= form_for @resident do |f| %>
  <div class="form mt-5 d-flex justify-content-center">
    <div class="me-5">
      <h3>Informações</h3>
      <div class="my-3">
        <label for="resident_full_name" class="form-label">
          Nome Completo*
        </label>
          <%= f.text_field :full_name, placeholder: "John Doe", class: "form-control", :required => true %>
      </div>

      <div class="my-3">
        <label for="resident_cpf" class="form-label">
          CPF*
        </label>
          <%= f.text_field :cpf, placeholder: "000.000.000-00", class: "form-control", :required => true %>
      </div>

      <div class="my-3">
        <label for="resident_cns" class="form-label">
          CNS*
        </label>
          <%= f.text_field :cns, class: "form-control", :required => true %>
      </div>

      <div class="my-3">
        <label for="resident_email" class="form-label">
          Email*
        </label>
          <%= f.text_field :email, placeholder: "email@email.com", class: "form-control", :required => true %>
      </div>

      <div class="my-3">
        <label for="resident_birth_date" class="form-label">
          Data de nascimento*
        </label>
          <%= f.date_field :birth_date, value: @resident.birth_date, class: "form-control", :required => true %>
      </div>

      <div class="my-3">
        <label for="resident_phone" class="form-label">
          Celular*
        </label>
        <%= f.text_field :phone, placeholder: "99 99999-9999", class: "form-control", :required => true %>
      </div>

      <div class="my-3">
        <label for="resident_picture" class="form-label">
          Foto
        </label>
        <%= image_tag(@resident.avatar.thumb.url) if @resident.avatar? %>
        <%= f.file_field :avatar, class: "form-control-file" %>
        <%= f.hidden_field :avatar_cache %>
      </div>
    </div>

    <div class="ms-5">
      <h3>Endereço</h3>
      <%= f.fields_for :address do |address_form| %>
        <div class="my-3">
          <label for="resident_address_attributes_zip_code" class="form-label">
            CEP*
          </label>
            <%= address_form.text_field :zip_code, class: "form-control", :required => true %>
        </div>
        <div class="my-3">
          <label for="resident_address_attributes_street" class="form-label">
            Rua*
          </label>
            <%= address_form.text_field :street, class: "form-control", :required => true %>
        </div>
        <div class="my-3">
          <label for="resident_address_attributes_neighborhood" class="form-label">
            Bairro*
          </label>
            <%= address_form.text_field :neighborhood, class: "form-control", :required => true %>
        </div>
        <div class="my-3">
          <label for="resident_address_attributes_city" class="form-label">
            Cidade*
          </label>
            <%= address_form.text_field :city, class: "form-control", :required => true %>
        </div>
        <div class="my-3">
          <label for="resident_address_attributes_state" class="form-label">
            UF*
          </label>
            <%= address_form.text_field :state, class: "form-control", :required => true %>
        </div>
        <div class="my-3">
          <label for="resident_address_attributes_secondary_address" class="form-label">
            Complemento
          </label>
            <%= address_form.text_field :secondary_address, class: "form-control" %>
        </div>
      <% end %>

    </div>
  </div>
  <div class="submit d-flex justify-content-center my-4">
    <%= f.submit request.path.include?('new') ? "Criar Municipe" : "Editar Municipe", class: "btn btn-success" %>
  </div>
  <%= link_to "Menu", residents_path, id: "menu", class: " d-flex justify-content-center text-decoration-none" %>
<% end %>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>
  
  //preview.style.display = "none";
  /*imgInp.onchange = evt => {
    const [file] = imgInp.files
    if (file) {
      preview.style.display = "block";
      preview.src = URL.createObjectURL(file)
    }
  }*/
  document.addEventListener("turbo:load", function () {
    $(function () {

    function limpa_formulário_cep() {
      $("input#resident_address_attributes_street").val("");
      $("input#resident_address_attributes_neighborhood").val("");
      $("input#resident_address_attributes_city").val("");
      $("input#resident_address_attributes_state").val("");
      // $("#ibge").val("");
    }

    $("input#resident_address_attributes_cep").blur(function() {
      var cep = $(this).val().replace(/\D/g, '');
      if (cep != "") {
        var validacep = /^[0-9]{8}$/;
        if(validacep.test(cep)) {
          $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

          if (!("erro" in dados)) {
            $("input#resident_address_attributes_street").val(dados.logradouro);
            $("input#resident_address_attributes_neighborhood").val(dados.bairro);
            $("input#resident_address_attributes_city").val(dados.localidade);
            $("input#resident_address_attributes_state").val(dados.uf);

            $("input#resident_address_attributes_street").attr('readonly', true);
            $("input#resident_address_attributes_neighborhood").attr('readonly', true);
            $("input#resident_address_attributes_city").attr('readonly', true);
            $("input#resident_address_attributes_state").attr('readonly', true);
            // $("#ibge").val(dados.ibge);
          }
          else {
            limpa_formulário_cep();
            alert("CEP não encontrado.");
          }});
        }
        else {
          limpa_formulário_cep();
          alert("Formato de CEP inválido.");
        }
      }
      else {
          limpa_formulário_cep();
      }
    });
  });
});

</script>
