<h1 class="my-3">Lista de Munícipes</h1>

<%= form_with( url: residents_path ,method: :get , remote: true) do |f| %>
  <div class="d-flex">
    <%= f.text_field :search, class: "w-25 form-control" %>
    <%= f.submit "Search", class: "ms-2 btn btn-success" %>
  </div>
<% end %>

<div id="residents", class="mt-3">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="bg-success bg-gradient text-white">Full Name</th>
        <th class="bg-success bg-gradient text-white">CPF</th>
        <th class="bg-success bg-gradient text-white">CNS</th>
        <th class="bg-success bg-gradient text-white">Telefone</th>
        <th class="bg-success bg-gradient text-white">Cidade</th>
        <th class="bg-success bg-gradient text-white">UF</th>
        <th class="bg-success bg-gradient text-white">Status</th>
        <th class="bg-success bg-gradient text-white">Opções</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'residents_table', collection: @residents, as: :resident %>
    </tbody>
  </table>

  <div class="text-end mb-3">
    <%= page_entries_info @residents, entry_name: "municipe" %>
    <div class="d-flex justify-content-end">
      <%= paginate @residents, remote: true %>
    </div>
  </div>
</div>

<div class="d-flex justify-content-end">
  <%= link_to "Criar novo Munícipe", new_resident_path, class: "btn btn-success flex-end" %>
</div>
